/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.maateen.me/solaiman-lipi/font.css');
/* -----------
Common Section
--------------*/
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

/*------------------------- 
Colors: text and background 
---------------------------*/
.color-theme{
    color: #02B290;
}

.bg-theme{
    background-color: #02B290;
}
.bg-lightblue{
    background-color: lightblue;
}
.bg-indigo{
    background-color: #00BCF5;
}
.color-indigo{
    color: #00BCF5;
}
.color-red{
    color: #F50057;
}
.bg-red{
    background-color: #F50057;
}
.bg-yellow{
    background-color: #F9A826;
}
.color-yellow{
    color: #F9A826;
}

/*-----------------
 Font size and gap 
 ------------------*/

.font-s{
    font-size: 4.5rem;
    /* letter-spacing: 2px; */
}

.font-sm{
    font-size: 1.2rem;
}
.font-md{
    font-size: 1.4rem;
}

.bn-font{
    font-family: 'SolaimanLipi', sans-serif;
}

.top-gap-lg{
    margin-top: 10rem;
}
.top-gap-md{
    margin-top: 8rem;
}
.y-gap-md{
    margin: 5rem 0;
}

/*-----------------------
 Image size and position
------------------------- */
.item-img{
    max-height: 20rem;
}

.logo-size{
    height: 4rem;
}

footer{
    height:400px;
    font-size: 1.1rem;
}
.footer-image{
    height: 100px;
}

/*------------
 Place 
 -------------*/
.img-block{
    height: 450px;
    object-fit: cover;
}
.img-spot{
    height: 280px;
    object-fit: cover;
}
.img-food{
    height: 200px;
    object-fit: cover;
}
.tourspot-scroll{
    overflow-x : scroll;
}
.tourspot-scroll::-webkit-scrollbar{
    height: 6px;
}
.tourspot-scroll::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #02B290;
    box-shadow: inset 2px 2px 2px rgb(255, 255, 255, 0.25), inset -2px -2px -2px rgb(0, 0, 0, 0.25),;
}


/*--------------- 
Tour Blog
-----------------*/
.img-blog{
    height: 200px;
    object-fit: cover;
}

.img-author{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}
.img-comment{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

/*--------------- 
Story Section
-----------------*/
.img-card{
    height: 300px;
    object-fit: cover;
}

.img-story{
    height: 250px;
    object-fit: cover;
}

/*--------------- 
Tab Responsive
-----------------*/

@media only screen and (min-width: 576px) and (max-width: 992px) {
    .font-s{
        font-size: 4rem;
    }
    .img-block{
        height: 350px;
    }

}

@media only screen and (max-width: 576px) {
    .font-s{
        font-size: 3.5rem;
    }
    .img-block{
        height: 300px;
    }

    footer{
        height:450px;
        font-size: 16px !important;
    }
    .footer-image{
        height: 80px;
    }

}